name: test

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  raku:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          #- macOS-latest
          #- windows-latest
        raku-version:
          - 'latest'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: Raku/setup-raku@v1
        with:
          raku-version: ${{ matrix.raku-version }}
      - name: Install Dependencies
        run: |
          # install and test if need be (includes [test-depends])
          sudo apt-get install -y libxml2-dev
          zef install --deps-only .
          zef build .
          zef install --/test App::Prove6
      - name: Run Tests
        run: prove6 -l t
      - name: Install Module
        run: zef install --verbose .
